@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
  .navbar-desktop { 
    @apply 
    flex flex-row fixed justify-between
    top-0 w-full h-20 
    m-0 pr-6 pt-1  
    bg-lightbgColour dark:bg-bgColour2
    transition-colors duration-300
    shadow-md
    z-10;
  }

  .nav-tabs { 
    @apply flex flex-row ml-3 mr-3
    py-1 border-b-2 pb-3 text-darkFont dark:text-lightFont1 
    transition-colors duration-300
    hover:text-teal-500
    dark:hover:text-teal-500 
    hover:cursor-pointer;
  }

  .display-mode {
    @apply hover:cursor-pointer;
  }

  /* .blob-monster { 
    @apply flex fixed mr-0 top-[30em] 
  }  */

  .default-page-styling { 
    @apply 
    flex flex-col 
    items-center 
    laptop:pt-[12em] tablet:pt-[9em]
    bg-lightbgColour dark:bg-bgColour1 transition-colors duration-300;
  }

  .footer {
    @apply bottom-0 relative bg-lightbgColour dark:bg-bgColour2 h-[60px] w-[100%] shadow-inner;
  }

  .typing-text { 
    @apply animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-black pb-3 text-6xl font-semibold text-[darkFont] dark:text-[#CCD6F6] dark:border-r-lightFont1 text-[8em] tracking-wide bg-teal-500 
    bg-opacity-20 dark:bg-opacity-80
    tablet:text-[7em] tablet:justify-center;
  }

  .landing-layout { 
    @apply flex flex-col
    laptop:justify-start laptop:ml-[15em] laptop:mr-[10em] 
    tablet:justify-center tablet:items-end tablet:mr-[30%] tablet:ml-[30%];
  }

  .landing-header { 
    @apply w-[100%] flex 
    tablet:justify-center
    tablet:text-[2.5em] 
    laptop:text-[3em] 
    dark:text-[#CCD6F6] transition-all 
    duration-100 
    font-light;
  }

  .landing-subHeader {
    @apply 
    w-[100%] 
    mt-[1em] mb-[1em] 
    dark:text-lightFont2 text-darkFont2 text-opacity-70 text-[1.5em] 
    tablet:justify-center
    tablet:items-center
    tablet:text-center
    tablet:text-[1.2em];
  }

  .landing-body { 
    @apply 
    mb-[1em] font-light
    dark:text-lightFont2 text-darkFont2
    text-opacity-70 text-[1.3em]
    tablet:text-center 
    tablet:text-[1.1em]
    laptop:w-[60%];
  }

  .get-in-touch {
    @apply 
    w-[100%] 
    tablet:mb-[1em] 
    laptop:mb-[0.5em]
    dark:text-lightFont2 text-darkFont2 text-opacity-70 text-[1.7em] 
    tablet:justify-center
    tablet:items-center
    tablet:text-center
    tablet:text-[1.4em]
    hover:text-primary
    hover:cursor-pointer
    dark:hover:text-primary;
  }

  .get-in-touch-buttons { 
    @apply dark:text-lightFont2 text-darkFont2 w-[10em] 
    hover:text-primary dark:hover:text-primary 
    transition-all duration-300;
  }


}

.link-decor {
  color: #18272F;
  position: relative;
  z-index: 1;
  font-weight: 450;
  cursor: pointer;
}

.link-decor::before {
  content: '';
  background-color: rgb(20, 184, 166, 0.3);
  position: absolute;
  left: 0;
  bottom: 0.07rem;
  width: 100%;
  height: 0.3rem;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.link-decor:hover::before {
  bottom: 0;
  height: 100%;
}
